$main-font: 'Tajawal', sans-serif;
$secondary-font: 'IBM Plex Sans', sans-serif;
$text-color: rgb(44, 49, 54);
$keyboard-color: rgb(28, 33, 37);
$keyboard-btn-text-color: white;
$keyboard-shadow-color: rgb(34, 39, 44);
$color-green: #4cd964;
$color-turquoise: #5ac8fa;
$color-blue: #007aff;
$color-light-blue: #34aadc;
$color-purple: #5856d6;
$color-red: #ff2d55;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  color: $text-color;
  font-size: 62.5%;
  font-size: 1em;
  line-height: 1.3em;
  font-family: $main-font;
  font-weight: 300;
  scroll-behavior: smooth;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

.app__keyboard-container {
  background: $keyboard-color;
  width: 100%;
  margin: 0;
  color: $keyboard-btn-text-color;
  padding: 2em 3.5em 1em 3.5em;
  height: 100vh;
  box-sizing: border-box;
}

.app__page {
  float: left;
  width: 25%;
  padding: 2em 0;
  box-sizing: border-box;
}

.app__page-link {
  background: $text-color;
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.3em;
  border: 1px solid #444;
  border-bottom-color: #555;
  box-shadow: 0 0.2em 0 0.05em rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background: $keyboard-shadow-color;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em rgb(60, 60, 60);
  }

  & span span {
    display: block;
    line-height: .7em;
  }
}

.app__page-link-1 {
  color: #212eee;
}

.app__page-link-2 {
  color: #1cce3e;
}

.app__page-link-3 {
  color: firebrick;
}

.app__page-link-4 {
  color: blueviolet;
}

.app__keyboard-button-columm {
  box-sizing: border-box;
  list-style: none;
  float: left;
  width: 25%;
}

.app__keyboard-button-link {
  width: 80px;
  height: 80px;
  background: $text-color;
  margin: 3em auto;
  border-radius: 0.3em;
  border: 1px solid #444;
  border-bottom-color: #555;
  box-shadow: 0 0.2em 0 0.05em rgb(70, 70, 70);
  text-align: center;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75em;

  &:active {
    background: $keyboard-shadow-color;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em rgb(60, 60, 60);
  }
}

.column-center {
  width: 50%;
}

.active-page {
  background: $keyboard-shadow-color;
  color: #aaa;
  position: relative;
  top: 0.2em;
  box-shadow: 0 0 0 0.05em rgb(60, 60, 60);
}

.app__popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__popup-overlay-targeted {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 1em;
  box-sizing: border-box;
  background: $keyboard-shadow-color;
  border-radius: 7px;
  width: 400px;
  height: 420px;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup-content {
  color: white;
  font-size: 1.4em;
  line-height: 1.4em;
  width: 80%;
  margin: .5em auto;
}

.shortcut-cmd {
  display: block;
  padding: .5em 0 .1em 0;
  border-bottom: 1px solid white;
  text-align: center;
}

.popup-buttons-container {
  position: absolute;
  bottom: 1.5em;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__popup-button {
  background: $text-color;
  color: white;
  padding: .6em 0 .4em 0;
  text-align: center;
  width: 70px;
  display: inline-block;
  margin: 0 .3em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;

  &:hover {
    background: $keyboard-color;
  }
}

.app__popup-msg {
  text-align: center;
  font-style: italic;
  color: white;
  padding-top: 1em;
  font-size: .9em;
}

.app__device-unplugged {
  display: none;
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding-top: 40vh;
  box-sizing: border-box;
}

.app__update-msg {
  text-align: center;
  font-weight: bold;
}

.app__progress-bar-container {
  display: block;
  width: 80%;
  margin: 2em auto;
}

.app__updating-progress {
  float: left;
  width: 85%;
  height: 4px;
  background-color: rgba(0,0,0,0.15);
  padding: 0 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.app__updating-progress-bar {
  width: 0%;
  height: 4px;
  border-radius: 8px;
  background-image: linear-gradient(to right, $color-green, $color-turquoise, $color-blue, $color-light-blue, $color-purple, $color-red);
}

.app__percentage {
  float: right;
  background-color: rgb(26, 103, 89);
  border-radius: 15px;
  height: 20px;
  box-sizing: border-box;
  width: 10%;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  line-height: 20px !important;
  margin: 0 0 0 10px;
}

.app__update-msg-link {
  text-decoration: underline !important;
  display: inline-block;
  font-family: $secondary-font;
  font-size: .9em;
}

.app__upd-button {
  background: $text-color;
  font-size: .8em;
  color: white;
  padding: .6em 0 .4em 0;
  text-align: center;
  width: 140px;
  display: inline-block;
  margin: 0 .6em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
}

.app__update-buttons {
  text-align: center;
}